fadvise==4.0.0
cffi
Twisted>=13.2.0
Django>=1.9,<1.9.99
python-memcached==1.47
txAMQP==0.4
simplejson==2.1.6
django-tagging==0.4.3
gunicorn
pytz
pyparsing
cairocffi
whitenoise
scandir
urllib3
git+git://github.com/graphite-project/whisper.git#egg=whisper
